# Imports

In [85]:
import matplotlib.pyplot as plt
# import basemap
# from geopy.geocoders import Nominatim
import math
import pandas as pd
import matplotlib.cm
from mpl_toolkits.basemap import Basemap
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection
from matplotlib.colors import Normalize
import vincent

# Viz

In [81]:
city = pd.read_csv('year_city.csv')
city = city.drop(columns=['Unnamed: 0'])
city = city.drop(columns=['year'])
# city = city.sort_values(by=['year'],ascending=True)
city.head()

         city
0     Toronto
1    New York
2     Compton
3     Chicago
4  Pittsburgh

In [82]:
a = list(city.city.value_counts())
df = city.drop_duplicates(subset=['city'])
df1 = df['city'].tolist()
# df1

In [83]:
d = {}
for i in range(len(df1)):
    d[df1[i]] = a[i]
d

{'Toronto': 10,
 'New York': 8,
 'Compton': 7,
 'Chicago': 4,
 'Pittsburgh': 3,
 'Atlanta': 3,
 'New Orleans': 2,
 'Raleigh': 2,
 'Detroit': 2,
 'Philadephia': 2,
 'Dallas': 1,
 'Los Angeles': 1,
 'Mississippi': 1,
 'Oakland': 1,
 'Miami': 1,
 'Houston': 1,
 'Cleveland': 1,
 'Beverly Hills': 1,
 'Indonesia': 1,
 'Memphis': 1}

In [ ]:
d1 = d.DataFrame(data=d)
d1

In [94]:
bar = vincent.Bar(multi_iter1['y1'])
bar.axis_titles(x='Index', y='Value')
bar.to_json('vega.json')

NameError: name 'multi_iter1' is not defined

In [88]:
world_countries = r'world-countries.json'
world = vincent.Map(width=1200, height=1000)
world.geo_data(projection='winkel3', scale=200, world=world_countries)
world.to_json(path)

TypeError: 'NoneType' object is not iterable

cities = [["Chicago",10],
          ["Boston",10],
          ["New York",5],
          ["San Francisco",25]]
scale = 5

map = Basemap(llcrnrlon=-119,llcrnrlat=22,urcrnrlon=-64,urcrnrlat=49,
        projection='lcc',lat_1=32,lat_2=45,lon_0=-95)

# load the shapefile, use the name 'states'
map.readshapefile('st99_d00', name='states', drawbounds=True)

# Get the location of each city and plot it
geolocator = Nominatim()
for (city,count) in cities:
    loc = geolocator.geocode(city)
    x, y = map(loc.longitude, loc.latitude)
    map.plot(x,y,marker='o',color='Red',markersize=int(math.sqrt(count))*scale)
plt.show()